* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

span {
    color: #000;
}

header, .page-home, .servicos, .contact, .depoimentos {
    max-width: 1440px;
    
} 

header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

header h1 {
    color: #D6000D;
    font-style: italic;
    font-size: 40px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: auto 30px;
    font-size: 20px;
}

nav ul li:hover {
    border-bottom: 1px solid #D6000D;
}

nav .login {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    color: #fff;
    background: #D6000D;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}