footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background: #000;
    padding: 100px 40px;
}

footer div {
    width: 25%;
    padding: 20px;
}

footer div p {
    font-size: 20px;
    padding: 10px 0;
}

footer .redes-sociais {
    text-align: center;
    
}
footer .redes-sociais i {
    font-size: 40px;
    padding: 10px;
    color: #D6000D;
}
footer .email {
    text-decoration: underline;
    text-decoration-color: #fff;
}