footer {
    color: #fff;
    background: #000;
}

footer .codar {
    width: 100%;
    text-align: center;
}

footer div {
    width: 60%;
    padding: 20px;
}

footer div p {
    font-size: 20px;
    padding: 10px 0;
}

footer .redes-sociais i {
    font-size: 40px;
    padding: 5px;
    color: #D6000D;
}
footer .email {
    text-decoration: underline;
    text-decoration-color: #fff;
}
