.servicos {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.servicos .servicos-text {
    margin: 30px auto;
    font-size: 18px;
}

.servicos .servicos-text p {
    padding: 10px;
}
.servicos .servicos-text .check {
    color: #D6000D;
    margin-right: 30px;
}

.servicos .servicos-img {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.servicos-img img {
    width: 250px;
}

.contact {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.contact #number {
    margin-top: 30px;
    margin-right: 10px;
    width: 240px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(220, 220, 220);
    color: rgb(138, 131, 131);
    border: none;
    font-size: 18px;
}
.contact #call {
    width: 240px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    background: #D6000D;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.depoimentos {
    width: 100%;
    padding: 40px;
    margin-top: 250px;
}

.depoimentos .depo-1 {
    margin-right: 46px;
    margin-bottom: 30px;
}
.depoimentos .depo-1, .depoimentos .depo-2 {
    background: rgb(220, 220, 220);
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    font-size: 16px;
}
.depoimentos .div-bola {
    margin-right: 20px;
}
.depoimentos .bola {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background: #D6000D;
}
.depoimentos .relato h3 {
    font-weight: 300;
    font-size: 25px;
    margin-top: 10px;
}
